
  
  @media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    .control-btn {
      gap: 1.2rem;
      padding-left: 1rem;
    }

    button {
        font-size: 1.4rem;
    }

    #editor-container {
      height: 80vh;
      width: 90vw; 
      gap: 0.2rem;
      margin-top: -1.2rem;
      padding-top: 1px;
      padding-left: 1rem;
    }

    .run {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      border-radius: 0.6rem;
    }
    
    #editor-container.vertical {
      flex-direction: row;
    }

    #editor-container.horizontal .CodeMirror,
    #editor-container.horizontal iframe {
    width: 100%; /* split width equally */
    height: 50%;
    }
    
    #editor-container.horizontal {
      flex-direction: column;
    }

    #editor-container.vertical .CodeMirror, #editor-container.vertical iframe {
    width: 50%;
    height: 100%; /* split height equally */
  }

}

  
