
  
  @media screen and (max-width: 600px) {
    h1 {
        font-size: 5rem;
    }

    button {
        font-size: 3rem;
    }

    #editor-container {
        width: 90%;
        height: 180vh;
    }
  }
  